{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation Failure" %}{% endblock %}

{% block body %}
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 loginbox">
        <div class="panel-info panel">
            <div class="panel-heading">
                <div class="panel-title">
                    Oh no
                </div>
                <div style="padding-top: 30px" class="panel-body">
                    <p>{% trans "Account activation failed." %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}
