{% extends  "base.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block body %}
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 loginbox">
        <div class="panel-info panel">
            <div class="panel-heading">
                <div class="panel-title">
                    Logout
                </div>
                <div style="padding-top: 30px" class="panel-body">
                    <p>{% trans "Successfully logged out" %}.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
