{% load staticfiles %}

{% load bootstrap3 %}

{% load bootstrap_themes %}

{% extdens 'bootstrap3/bootstrap3.html' %}



{% bootstrap_styles theme='simplex' type='min.css' %}

{%  block bootstrap3_extra_head %}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to the Store{% endblock %}</title>
</head>
<body background="{% static 'base/img/logo11.png' %}">
{% block content %}
    {%  if request.user.is_authenticated %}
        <h4>
        Welcome, {% if request.user.first_name %}
            {{ request.user.first_name }}
            {% else %}
            {{ request.user.username }}
            {% endif %} <a href="{% url 'auth_logout' %}">logout</a>
        </h4>
    {% else %}
        <h4>Welcome hallo, to booksite! Would you like to <a href="{% url 'auth_login' %}">log in?</a></h4>
    {% endif %}
    Welcome to the Store! There are {{ count }} books in stock. User location {{ request.session.location }}
{% endblock %}
</body>
</html>